<li id="account-<%= account.id %>">
  <span class="user"><%= link_to account.rib, account %></span>
  <span class="content"><%= account.id %></span>
  <span class="content"><%= account.libelle %></span>
</li>
